body{
    margin: 5%;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.conteiner {
   
    
}
header{
    contain: layout;
}

.depoimentos{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    margin-left: 5%;
    color: grey;
    text-align: end;
    float: inline-end;
}
ul{
    display: flex;
    text-align: right;
    list-style: none;
    margin-left: 68%;
}
ul li{
    margin: auto;
    color: grey;
    text-align: right;
    display: inline;
    padding: 2px 10px;
}
a{
    color: grey;
    text-align: right;
    text-decoration: none;
}
.banner {
    background-image: url(imgs/banner.jpg);
    width: 1290px;
    height: 450px;
    float: inline-end;
}
.caixa{
    padding: auto;
    border: 10%;
}

section{
    display: flex;
    
}
img{
    
    width: 300px;
    float: inline-end;
}
.coluna{
    max-width: 100%;
    width: 300px;
    float: inline-end;
}

div{
    text-align: left;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    margin-left: auto;
    color: grey;
}
h2{
    color: grey;
    margin-left: 5%;
    width: 15%;
}